div {
	margin: 10px 10px;	
}

.head {
	text-align: center;
	margin: 0px auto;
}

.head > div {
	display: inline-block;
}

.headings {
	font-size: 70px;
	font-family: 'Roboto', sans-serif;
	color: white;
	float: left;
}

#tetris {
	border-radius: 10px;
	border: 0.5em solid white;
} 

.tetrisCan {
	text-align: center;
	margin: 0 auto;
}

.score, .time{
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
	color: white;
	text-align: center;
	margin: 0 auto;
}

body {
	background-image: url("images/background.png");
	background-repeat: repeat;
}

@media screen and (max-width : 400px) {
	#tetris {
		width: 50vw;
	}
}

@media screen and (min-width : 350px) {
/* Styles */
	#tetris {
		height: 70vh;
	}
}