div {
	margin: 10px 10px;
}


#tetris {
	border: 5px solid grey;
	padding: 1px;
	border-radius: 30px;
}

.time {
	font-size: 80px;
	font-family: 'Lobster',sans-serif;
	margin: 0 auto;
}

.score {
	font-size: 80px;
	font-family: 'Lobster',sans-serif;
	margin: 0 auto;
}